<div id="book" class="container mx-auto px-5 py-20 text-center">
    <h2 class="text-red-500 text-7xl fonr-medium mb-3">Book not found</h2>
    <p class="font-medium text-blue-950 text-lg">We don't have record for this book</p>
</div>
