 <button 
    class="text-md px-10 py-3.5 flex items-center gap-3 font-medium rounded-[13px] shadow-lg hover:scale-105 transform transition duration-100 <%= twcss %>"
>
   <%= @text %>
   <%= arrow_down_component  if @arrow%>
 </button>