 <button 
    class="<%= "bg-" + @btnBgColor + " shadow-" + @btnShadowColor %> text-sm px-7 py-3 scale-125 hover:scale-[130%] text-white rounded-[13px] shadow-xl transform transition duration-100"
>
    Contact
 </button>