<button data-controller="hamburger" class="relative">
    <div class="relative p-2 flex overflow-hidden items-center justify-center transform transition-all duration-200">
        <div class="flex flex-col justify-between w-[26px] h-[26px] transform transition-all duration-300 origin-center overflow-hidden">
            <div data-hamburger-target="animate" class="bg-[#061A36] h-[3px] w-10 transform transition-all duration-200 origin-left"></div>
            <div data-hamburger-target="animate" class="bg-[#061A36] h-[3px] w-10 rounded transform transition-all duration-200"></div>
            <div data-hamburger-target="animate" class="bg-[#061A36] h-[3px] w-10 transform transition-all duration-200 origin-left"></div>
        </div>
    </div>
</button>