<div class="relative before:absolute before:-top-10 before:w-full before:h-full before:bg-[#4299F7] before:opacity-30 before:-scale-95 before:rounded-3xl">
    <div class="relative bg-[#4299F7] grid justify-items-center space-y-10 max-w-6xl px-10 md:px-24 py-12 md:py-16 rounded-3xl">
        <img class="w-32 h-32 absolute -top-16" src="<%= asset_path("user.png") %>"/>
        <h3 class="text-white text-[1.3rem] md:text-[1.7rem] text-center font-medium"> 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            onumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
        </h3>
        <%= rating_component %>
    </div> 
</div>
