<footer class="container mx-auto px-5 py-36">
    <div class="grid grid-cols-6 gap-3">
        <div class="col-span-2 space-y-10 max-w-[380px]">
            <%= main_logo_component size: "md" %>
            <p class="text-xl mb-6 text-[#061A36]">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
             <%= text_input_component type: "email", additionalCss: "w-4/5" %>
        </div>
        <div>hi</div>
        <div>hi</div>
        <div>hi</div>
    </div>
</footer>