<nav class="container mx-auto px-5 py-9 flex items-center justify-between">
    <a href="/" class="mr-10">
        <%= main_logo_component %>
    </a>
    <div class="hidden 2xl:block">
        <%= text_input_component type: "search", additionalCss: "ml-16 mr-28" %>
    </div>
    <ul class="flex gap-8 items-center font-medium text-blue-950 text-lg">
        <li class="hidden xl:block cursor-pointer hover:underline underline-offset-8 decoration-2">Home</li>
        <li class="hidden xl:block cursor-pointer hover:underline underline-offset-8 decoration-2">Rent Textbooks</li>
        <li class="hidden xl:block cursor-pointer hover:underline underline-offset-8 decoration-2">Buy Textbooks</li>
        <li class="hidden xl:block cursor-pointer hover:underline underline-offset-8 decoration-2">Sell Textbooks</li>
        <li class="hidden md:block -ml-2 place-items-center">
            <div class="border-l h-6 border-gray-300"></div>
        </li>
        <li class="hidden md:flex gap-1 place-items-center cursor-pointer">
            <%= globe_icon_component %> En
        </li>
        <li class="hidden md:block">
            <%= button_component text: "Contact" %>
        </li>
    </ul>
</nav>