<section id="explore_section" class="pt-20 md:pt-32">
    <div class="px-5">
        <h2 class="text-center font-bold text-[2.4rem] md:text-[2.7rem] text-blue-950 mb-5">Explore Our Books</h2>
        <p class="text-center font-medium text-xl max-w-[850px] mx-auto text-gray-900">
            With our dedicated customer support team, you can rest easy knowing that we’re doing everything
            we can to save you time, money, and stress.
        </p>
        <div class="mt-20 grid md:grid-cols-2 xl:grid-cols-3 gap-14 max-w-[85rem] mx-auto px-5">
            <% [{img_path: "doughnuts_&_Doom.png", title: "Doughnuts And Doom"},
                {img_path: "The_Bend_of_Luck.png", title: "The Bend Of Luck"},
                {img_path: "The_Underwater_Welder.png", title: "The Underwater Welder"}].each do |book| 
            %>
                <%= book_card_component title: book[:title], img: asset_path(book[:img_path])  %>
            <% end %>
        </div>
    </div>
    <div class="relative before:absolute before:-z-10 before:bg-[#061A36] before:h-full before:w-full before:-skew-y-3 before:-mt-48">
        <div class="container mx-auto pt-20 md:pt-40 pb-80 md:pb-96 px-5">
            <div class="space-y-2.5 mb-12 text-center lg:text-start">
                <label class="text-yellow-500 font-medium text-xl uppercase">Lorem Ipsum</label>
                <h2 class="text-white font-bold text-[2.3rem] md:text-[2.7rem]">3 Reasons To Shop With Us</h2>
            </div>
            <div class="grid lg:grid-cols-3 place-items-center gap-12 md:gap-20">
                <div class="flex flex-col max-w-[500px]">
                    <%= box_icon_component %>
                    <h3 class="text-white font-bold text-2xl my-7">All textbook rentals come with free return shipping.</h3>
                    <p class="text-white text-lg"> 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.
                    </p>
                </div>
                <div class="flex flex-col max-w-[500px]">
                    <%= help_icon_component %>
                    <h3 class="text-white font-bold text-2xl my-7">Dedicated customer support and help portal.</h3>
                    <p class="text-white text-lg font-medium"> 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.
                    </p>
                </div>
                <div class="flex flex-col max-w-[500px]">
                    <%= pigi_bank_icon_component %>
                    <h3 class="text-white font-bold text-2xl my-7">Buy or rent cheap textbooks & save up to $500 per year!.</h3>
                    <p class="text-white text-lg"> 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.
                    </p>
                </div>
            </div>
        <div>
    </div>
</section>