<div id="invalid_book" class="hidden container mx-auto px-5 py-20 text-center">
    <h2 class="text-red-500 text-7xl fonr-medium mb-3">Invalid ISBN</h2>
    <p class="font-medium text-blue-950 text-lg">Make sure you enter ISBN correctly</p>
</div>
