<section class="container mx-auto px-5 grid grid-cols-1 md:grid-cols-6 h-[700px]">
     <div class="md:col-span-3 flex items-center">
        <div class="max-w-[600px] space-y-10">
            <h1 class="font-bold text-5xl md:text-[5rem] text-blue-950">
                The Cheapest Textsbooks
            </h1>
            <h2 class="text-indigo-500 font-bold text-[2rem] leading-10 max-w-[440px]">
                Save Up To 90% On Millions Of Titles 
            </h2>
            <p class="text-2xl font-medium text-blue-950">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna.
            </p>
            <%= button_component text: "Get Started", textSize: "text-2xl", padding: "px-12 py-5", additionalCss: "hover:scale-105" %>
        </div>
    </div>
    <div class="col-span-2 hidden md:block"></div>
</section>