<section id="questions_section" class=" bg-gray-100 py-40">
    <div class="mx-auto max-w-[1000px]">
        <h2 class="text-blue-950 font-bold text-5xl">Frequently Asked Question</h2>
    </div>
</section>