<section class="flex justify-center pb-40">
    <div class="flex flex-col justify-center items-center px-5">
        <h2 class="text-blue-950 font-bold text-3xl mb-1">Andrew Santellan</h2>
        <div class="text-sky-400 font-medium text-xl mb-5">Product Manager, Binance</div>
         <%= client_logo_component text: "Binance", logo: binance_logo_component, textColor: "text-gray-400" %>
    </div>
<section>