<section id="review-section" class="pb-40 px-5 grid place-items-center">
    <h2 class="text-blue-950 font-bold text-3xl mb-1">Andrew Santellan</h2>
    <div class="text-sky-400 font-medium text-xl mb-6">Product Manager, Binance</div>
    <%= client_logo_component text: "Binance", logo: binance_logo_component, textColor: "text-blue-950/[.5] scale-110" %>
    <div class="mt-28">
        <%= review_card_component %>
    </div>
</section>


